<!DOCTYPE html>
<html>
<head>
    <title>Books List (Forms)</title>
</head>
<body>

<h2>Books List – Part 2 (Using Django Forms)</h2>

/books/lab9_part2/addbookAdd New Book</a>
<br><br>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Rating</th>
        <th>Actions</th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.quantity }}</td>
        <td>{{ book.rating }}</td>
        <td>
            /books/lab9_part2/editbook/{{ book.id }}Edit</a> |
            /books/lab9_part2/deletebook/{{ book.id }}Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>